@import "../stylesheets/global.scss";

.footer {
  font-family: Roboto;
  text-align: center;
  color: $bgPrimary;
  background-color: $dark;
  font-style: italic;
  height: 5vh;

  p {
    margin: 0;
    padding: 0.9rem;
  }
}
