@import "../stylesheets/global.scss";

#header {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  z-index: 100;

  h1 {
    text-align: center;
    font-size: 2.5rem;
  }

  #logo {
    color: $bgSecondary;
    text-decoration: none;
    font-family: Anton;
    letter-spacing: 0.5rem;
  }
}
